* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(../Images/main.png);
    background-repeat: no-repeat;
    background-attachment: ;
    background-size: 100% 700px
}

.bar {
    color: black;
    margin-left: 30px;
    padding: 50px;

}

.content {
    width: 100%;
    padding: 30px;
    margin: 150px 0px 0px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 0px;


}

.uber3 {
    padding-left: 30px;



}

.uber4 {
    padding-left: 30px;
    margin-top: 20px;

}

#now {
    width: 250px;
    height: 50px;
    font-size: large;
    border: 0;
}

input[type="text"] {
    font-size: 17px;
    padding: 10px;
    width: 510px;
    height: 37px;
    border: 0;
}

#now {
    font-size: 17px;
    padding: 10px;
    width: 200px;
    height: 58px;
    border: 0;
}

#address {
    font-size: 17px;
    padding: 10px;
    width: 500px;
    height: 58px;
    border: 0;
}

#button {
    font-size: 17px;
    padding: 10px;
    height: 58px;
    border: 0;
    background: black;
    color: white;
    border-radius: 8px;
}

#log {
    font-size: 17px;
    height: 48px;
    border: 0;
    background: white;
    color: black;
    border-radius: 500px;
    margin-left: 1000px;
    width: 100px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;

}

#sign {
    font-size: 17px;
    height: 48px;
    border: 0;
    background: black;
    color: white;
    border-radius: 500px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
}
.b1{
    padding-left: 50px;
    padding-right: 50px;
}
.box {
    display: flex;
    flex-direction: row;
    margin-top: 320px;
    width: 33.33%;
}
.box > div{
    /* padding-left: 50px; */
    padding-right: 10px;
}
.e1{height: 80px}
.e2{
    display: flex;
}

.box2{
    /* padding-left: 50px; */
    font-family: UberMove, sans-serif;
    font-weight: 700;
   
}
.link1{
    padding-left: 1060px;
}
.box3{
padding-top: 20px;
}
.box4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
    margin-top: 25px;
}
.link2{
    padding-left:878px;
}








/* b1{
    padding-right: 12px;
    padding-left: 12px;
    width: 33.333333333333336%;
} */


/* .feed {
    width: 33.33%;
   
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    flex-direction: row;

} */